<div class=" product_banner secondary_banner">
    @*<div class="container">
            <div class="row">
                <div class="col-md-8 col-xs-12 section-top-25">
                    <h2 class="text-white text-center heading2 underline2">DBS-LibPrep </h2>
                    <p class="text-white text-justify section-top-25">
                        自动化建库仪，建库试剂用量少，操作简便，只需要一
                        次性加样和一键操作，即可同时实现4 个文库的制备，
                        制备好的文库可直接用于上机测序。
                    </p>
                    <p class="text-center">
                        <a class="btn btn-success btn-md section-top-align" href="@Url.RouteUrl("ProductItem", new { SeName = "高通量测序自动建库仪" })">查看详情</a>
                    </p>
                </div>
            </div>
        </div>*@
    @*<div class="slider1">
        <img class="image" src="~/Content/Images/Logo/20170605115239_615.png" />
    </div>*@
</div>


<div class="subcolumn_nav_met_11_4" m-id="38" m-type="nocontent">
    <div class="container">
        <div class="row">
            <div class="clearfix">
                <div class="subcolumn-nav">
                    <ul class="subcolumn_nav_met_11_4-ul m-b-0 ulstyle">
                        <li>
                            <a href="@Url.RouteUrl("Product")" class="link">全部</a>
                        </li>
                        <li class="dropdown">
                            <a href="" title="仪器中心" class="dropdown-toggle  link" data-toggle="dropdown" aria-expanded="false">医疗设备</a>
                            @*<div class="dropdown-menu animation-slide-bottom10">
                                    <a href="https://show.metinfo.cn/m/mui120/363/product/product.php?class2=6" title="全部" class="dropdown-item ">全部</a>
                                    <a href="https://show.metinfo.cn/m/mui120/363/product/product.php?class3=15" title="手术台" class="dropdown-item ">手术台</a>
                                    <a href="https://show.metinfo.cn/m/mui120/363/product/product.php?class3=14" title="无影灯" class="dropdown-item ">无影灯</a>
                                    <a href="https://show.metinfo.cn/m/mui120/363/product/product.php?class3=13" title="麻醉机" class="dropdown-item ">麻醉机</a>
                                    <a href="https://show.metinfo.cn/m/mui120/363/product/product.php?class3=12" title="呼吸机" class="dropdown-item ">呼吸机</a>
                                    <a href="https://show.metinfo.cn/m/mui120/363/product/product.php?class3=11" title="医用吊塔" class="dropdown-item ">医用吊塔</a>
                                    <a href="https://show.metinfo.cn/m/mui120/363/product/product.php?class3=10" title="保健产品" class="dropdown-item ">保健产品</a>
                                </div>*@
                        <li>
                            <a href="" title="芯片中心" class=" link">芯片中心</a>
                        </li>
                        <li>
                            <a href="" title="核心技术" class=" link">核心技术</a>
                        </li>
                        @*<li>
                                <a href="" title="海外业务" class=" link">海外业务</a>
                            </li>
                            <li>
                                <a href="" title="创新研发" class=" link">创新研发</a>
                            </li>
                            <li>
                                <a href="" title="联系我们" class=" link">联系我们</a>
                            </li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>