@{
    ViewBag.Title = "About";
}


<div class="tp-banner-container rev_slider_wrapper fullwidthbanner-container" data-alias="news-hero72">
    <div class="home_slider">
        <ul>
            <li data-index="rs-10" data-transition="fade" data-slotamount="7" class="bg-light"
                data-easein="Power4.easeInOut" data-delay="5000" data-easeout="Power4.easeInOut" data-masterspeed="2000"
                data-rotate="0" data-saveperformance="off" data-title="Love it?" data-description="">
                <img src="~/Content/Images/custom/new_slider1.jpg" alt="systemimg" data-kenburns="off" data-bgposition="center center"
                     data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120"
                     data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-bgfit="cover"
                     data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <div class="tp-caption  sfb tp-resizeme" data-x="center"
                     data-y="120" data-speed="700" data-start="1000" data-easing="Power0.easeInOut"
                     data-splitin="words"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5; max-width: inherit; max-height: inherit; white-space: nowrap;color: #fff;font-size:60px;font-family: lato">
                    Welcome To
                </div>
                <div class="tp-caption sft tp-resizeme" data-x="center"
                     data-y="200" data-speed="700" data-start="1000" data-easing="Power0.easeInOut"
                     data-splitin="words"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5; max-width: inherit; max-height: inherit; white-space: nowrap;color: #fff;font-size:70px;font-family: lato">
                    衡芯生物科技
                </div>
                <div class="hidden-xs tp-caption  sfl tp-resizeme" data-x="430"
                     data-y="340" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5;">
                    <a href="contact_us.html" class="slider_btn hvr-shutter-out-horizontal">联系我们</a>
                </div>
                <div class="hidden-xs tp-caption  sfr tp-resizeme" data-x="600"
                     data-y="340" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5">
                    <a href="contact_us.html" class="slider_btn">现在购买</a>
                </div>
                <div class="visible-xs tp-caption  sfl tp-resizeme" data-x="350"
                     data-y="340" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5;font-size: 30px">
                    <a href="contact_us.html" class="slider_btn slider_btn_res">CONTACT US</a>
                </div>
                <div class="visible-xs tp-caption  sfr tp-resizeme" data-x="600"
                     data-y="340" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5;font-size: 30px">
                    <a href="#" class="slider_btn slider_btn_res">PURCHASE NOW</a>
                </div>
            </li>
            <li data-transition="Curtain from Middle" data-slotamount="7" data-delay="5000" data-masterspeed="600"
                class="bg-light">
                <img src="~/Content/Images/custom/new_slider4.png" alt="girlimg" data-bgposition="right bottom"
                     data-duration="11000" data-ease="Linear.easeNone" data-bgfit="cover"
                     data-bgpositionend="left top">
                <div class="tp-caption grey_heavy_72 sfb tp-resizeme" data-x="center"
                     data-y="150" data-speed="700" data-start="700" data-easing="Power0.easeInOut"
                     data-splitin="lines"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5; max-width: inherit; max-height: inherit; white-space: nowrap;color: #fff;font-size:55px;font-family: lato">
                    无限可能
                </div>
                <div class="tp-caption grey_heavy_72 sft tp-resizeme" data-x="center"
                     data-y="250" data-speed="700" data-start="1000" data-easing="Power0.easeInOut"
                     data-splitin="lines"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5; max-width: inherit; max-height: inherit;
                     white-space: nowrap;color: #fff;font-size:45px;font-family: lato">
                    Best Corporate
                </div>
                <div class="hidden-xs tp-caption  sfl tp-resizeme" data-x="430"
                     data-y="350" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5;">
                    <a href="contact_us.html" class="slider_btn">CONTACT US</a>
                </div>
                <div class="hidden-xs tp-caption  sfr tp-resizeme" data-x="600"
                     data-y="350" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5;">
                    <a href="#" class="slider_btn">MEET OUR TEAM</a>
                </div>
                <div class="visible-xs tp-caption  sfl tp-resizeme" data-x="350"
                     data-y="350" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5;font-size: 30px">
                    <a href="contact_us.html" class="slider_btn slider_btn_res">CONTACT US</a>
                </div>
                <div class="visible-xs tp-caption  sfr tp-resizeme" data-x="600"
                     data-y="350" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5;font-size: 30px">
                    <a href="#" class="slider_btn slider_btn_res">MEET OUR TEAM</a>
                </div>
            </li>
            <!---->
            <li data-index="rs-82" data-transition="fade" data-slotamount="7" data-masterspeed="500" data-delay="5000"
                data-saveperformance="on"
                data-title="Intro Slide" data-bgfit="cover">
                <img src="~/Content/Images/custom/new_slider3.png" alt="girlimg" data-bgposition="right bottom"
                     data-duration="11000" data-ease="Linear.easeNone" data-bgfit="cover"
                     data-bgpositionend="left top">
                <div class="tp-caption grey_heavy_72 sfl tp-resizeme" data-x="center"
                     data-y="150" data-speed="700" data-start="700" data-easing="Power0.easeInOut"
                     data-splitin="words"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5; max-width: inherit; max-height: inherit; white-space: nowrap;color: #fff;font-size:70px;font-family: lato">
                    HX CORPORATE
                </div>
                <div class="tp-caption grey_heavy_72 sfr tp-resizeme" data-x="center"
                     data-y="250" data-speed="700" data-start="1500" data-easing="Power0.easeInOut"
                     data-splitin="words"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5; max-width: inherit; max-height: inherit; white-space: nowrap;color: #fff;font-size:45px;font-family: lato">
                    最佳企业公司
                </div>
                <div class="hidden-xs tp-caption  sfb tp-resizeme" data-x="430"
                     data-y="350" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5;">
                    <a href="contact_us.html" class="slider_btn">联系我们</a>
                </div>
                <div class="hidden-xs tp-caption  sfb tp-resizeme" data-x="600"
                     data-y="350" data-speed="1500" data-start="2000" data-easing="Power3.easeInOut"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5;">
                    <a href="#" class="slider_btn">MEET OUR TEAM</a>
                </div>
                <div class="visible-xs tp-caption  sfl tp-resizeme" data-x="350"
                     data-y="350" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5;font-size: 30px">
                    <a href="contact_us.html" class="slider_btn slider_btn_res">CONTACT US</a>
                </div>
                <div class="visible-xs tp-caption  sfr tp-resizeme" data-x="600"
                     data-y="350" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5;font-size: 30px">
                    <a href="#" class="slider_btn slider_btn_res">MEET OUR TEAM</a>
                </div>
            </li>
        </ul>
    </div>
</div>