
@{
   // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" /> 
    <link href="~/Content/mycss/contactUs/style.css" rel="stylesheet" />


    <title>contactUs</title>
</head>
<body>
   
  
    <div class="topinsulate">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4">                
                </div>
                <div class="col-lg-8 col-sm-8">               
                </div>
            </div>
        </div>
    </div>
  


    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-5 address">
                <section class="infos">
                    <h4 class="title custom-font text-black">
                      地址
                    </h4>
                    <address>
                        中国
                        <br>
                        上海市杨浦区
                        <br>
                        国定路335号  2号楼1302-3室
                        <br>
                      
                    </address>
                </section>
                <section class="infos">
                    <h4 >
                       营业时间
                    </h4>
                    <p>
                        周一 到 周五   上午9:00 到  下午 6:00
                        <br>
                        周六 ： 休息
                        <br>
                        周末 ： 休息
                        <br>
                    </p>
                </section>
                <section class="infos">
                    <h4>
                       联系方式
                    </h4>
                    <p>
                        <i >
                        </i>
                        张小姐： +021-65650169-8001
                    </p>

                    <p>
                        <i >
                        </i>
                        张小姐： +021-65650169-8001
                    </p>

                    <p>
                        <i>
                        </i>
                        邮箱: hxhr@hengxinbio.com
                    </p>
                   
                </section>
            </div>
          
            <div class="col-lg-7 col-sm-7 ">
                <h4>
                    给我们写信这样我们就能收到你的来信
                </h4>
                <div class="contact-form">
                    <form role="form">
                        <div class="form-group">
                            <label for="name">
                                姓名
                            </label>
                            <input type="text" placeholder="" id="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email
                            </label>
                            <input type="text" placeholder="" id="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="phone">
                                电话
                            </label>
                            <input type="text" id="phone" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="phone">
                                Message
                            </label>
                            <textarea placeholder="" rows="5" class="form-control">
                </textarea>
                        </div>
                        <button class="btn btn-info" type="submit">
                            提交
                        </button>
                    </form>

                </div>
            </div>
        </div>

    </div>








</body>
</html>
