<div class="secondary_banner about_banner" style="">
</div>
<div class="subcolumn_nav_met_11_4" m-id="38" m-type="nocontent">
    <div class="container">
        <div class="row">
            <div class="clearfix">
                <div class="subcolumn-nav">
                    <ul class="subcolumn_nav_met_11_4-ul m-b-0 ulstyle">
                        <li>
                            @Html.ActionLink("关于衡芯", "", "AboutUs", "Introduce", new { @class = "link" })                            
                        </li>
                        @*<li>
                            @Html.ActionLink("企业文化", "", "CompCulture", "Introduce", new { @class = "link" })

                        </li>
                        <li>
                            @Html.ActionLink("领军人物", "", "Leadship", "Introduce", new { @class = "link" })

                        </li>*@
                        <li>
                            @Html.ActionLink("公司地址", "CompanyAddress", "Introduce", "", new { @class = "link" })
                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>