<div class="banner1" style="">
    <div class="slider1">
        <img class="image" src="~/Content/Images/custom/topImage.jpg" />
    </div>
</div>
<div class="subcolumn_nav_met_11_4" m-id="38" m-type="nocontent">
    <div class="container">
        <div class="row">
            <div class="clearfix">
                <div class="subcolumn-nav">
                    <ul class="subcolumn_nav_met_11_4-ul m-b-0 ulstyle">
                        <li>
                            <a href="" title="关于衡芯" class=" link">关于衡芯</a>
                        </li>
                        @*<li>
                            <a href="" title="企业文化" class=" link">企业文化</a>
                        </li>
                        <li>
                            <a href="" title="领军人物" class=" link">领军人物</a>
                        </li>*@
                        <li>
                            <a href="" title="联系我们" class=" link">联系我们</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>