
@{
    ViewBag.Title = "CompanyAddress";
}
@Html.Action("AboutUsMenu", "Introduce")
<div class="container">
    <div class="page childpage center-1 contact-page">
        <div class="title">
            @*<strong>关于衡芯</strong>*@
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center m-t-50">
                <p>
                    公司地址
                </p>
            </div>
        </div>
        <div class="row m-t-50">
            <div class="container">
                <section class="met-editor clearfix">

                    <p style="margin-bottom: 0px; color: rgb(102, 102, 102); font-family: 微软雅黑; white-space: normal; line-height: 3em; text-align: center;">
                        <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 14px;">联系电话：021-65650169 &nbsp; &nbsp;</span>
                    </p>
                    <p style="margin-bottom: 0px; color: rgb(102, 102, 102); font-family: 微软雅黑; white-space: normal; line-height: 3em; text-align: center;">
                        <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 14px;">邮箱：info@hengxinbio.com</span>
                    </p>
                    <p style="margin-bottom: 0px; color: rgb(102, 102, 102); font-family: 微软雅黑; white-space: normal; line-height: 3em; text-align: center;">
                        <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 14px;">邮政编码：221200</span>
                    </p>
                    <p style="margin-bottom: 0px; color: rgb(102, 102, 102); font-family: 微软雅黑; white-space: normal; line-height: 3em; text-align: center;">
                        <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 14px;">
                            地址：上海市杨浦区国权北路1688弄75号
                            湾谷科技园A8栋 801-802
                        </span>
                    </p>
                    <p style="text-align: center;">
                        <iframe class="ueditor_baidumap" src="https://show.metinfo.cn/m/mui120/363/app/app/ueditor/dialogs/map/show.html#center=121.510285,31.347208&amp;zoom=17&amp;width=530&amp;height=340&amp;markers=116.404,39.915&amp;markerStyles=l,A" frameborder="0" width="534" height="344" style="height: 344px;"></iframe>
                    </p>

                </section>
            </div>
        </div>
    </div>
</div>



