@using NopFramework.Admin.Models.Localization
@model LanguageModel
@{
    ViewBag.Title = "编辑语言";
    Html.SetActiveMenuItemSystemName("Languages");
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            编辑语言
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("返回语言列表", "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                保存
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                保存并继续编辑
            </button>
            <a href="@Url.Action("ExportXml", new {id = Model.Id})" class="btn bg-green">
                <i class="fa fa-download"></i>
                导出资源
            </a>
            <button type="button" class="btn bg-olive" data-toggle="modal" data-target="#importxml-window">
                <i class="fa fa-upload"></i>
                导入资源
            </button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
