

@*<div class="slider-wrapper theme-custom">
    <div id="nivo-slider" class="nivoSlider">
        <img src="~/Content/Images/Logo/contactBanner2.jpg" data-thumb="" data-transition="" alt="" title="123" />
    </div>
</div>*@




<div class="secondary_banner contact_banner">
    @*<div class="slider1">
        <img class="image" src="~/Content/Images/custom/contactus_bannser.png" />
    </div>*@
</div>
<div class="subcolumn_nav_met_11_4" m-id="38" m-type="nocontent">
    <div class="container">
        <div class="row">
            <div class="clearfix">
                <div class="subcolumn-nav">
                    <ul class="subcolumn_nav_met_11_4-ul m-b-0 ulstyle">
                        <li>
                            <a href="" title="联系我们" class=" link">联系我们</a>
                        </li>
                        <li>
                            <a href="~/Contact/JobApplication" title="社会招聘" class=" link">社会招聘</a>
                        </li>
                        <li>
                            <a href="~/Contact/SubmitOnline" title="我要应聘" class=" link">我要应聘</a>
                        </li>
                        <li>
                            <a href="" title="联系我们" class=" link">联系我们</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
